
# 小程序appid、公众号appid
appid=

# 支付商户号
mchid=

# 支付api v2密钥
apikey=

# 支付api v3密钥
apiv3key=

# 证书序列号,支付api v3版本才需要配置
serialno=

# apiclient_key.pem文件路径
apiclient_key_pem_file=./apiclient_key.pem

# apiclient_cert.pem文件路径
apiclient_cert_pem_file=./apiclient_cert.pem

# 用户openid
openid=

# 通知地址、支付回调地址
wxpay_notify_url=https://domain/callback/wxpay

# 退款通知回调地址
wxrefund_notify_url=https://domain/callback/wxrefund

# 付款码，规则 ^1[0-6][0-9]{16}$
auth_code_demo=

# 微信单号
transaction_id_demo=4200001613202208309423469364
# 我的单号
out_trade_no_demo=soeSm9lg

# 我的退单号
out_refund_no_demo=2021refund_ExUZGGrrDd

